/* Settings.css */
.settings {
  padding: var(--padding-large);
}

.settings h2 {
  margin-bottom: var(--padding-medium);
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%;
  padding: var(--padding-small);
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.submit-button {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  color: var(--header-footer-text);
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.submit-button:hover {
  background-color: var(--primary-hover);
}

.status-message {
  margin-top: var(--padding-medium);
  font-size: 1rem;
  color: green;
}
