/* LeftSidebar.css */
.left-sidebar {
  width: var(--sidebar-width);
  background-color: var(--sidebar-bg);
  padding: var(--padding-medium);
  box-sizing: border-box;
  flex-shrink: 0;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.left-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.left-sidebar li {
  margin: var(--padding-medium) 0;
}

.left-sidebar a {
  text-decoration: none;
  color: var(--text-color);
}

.left-sidebar a:hover {
  color: var(--primary-color);
}
